@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Request OTP";
}


<h2>Request OTP</h2>

<form method="post">
    <label>Email:</label>
    <input type="email" name="email" required />
    <button type="submit">Send OTP</button>
</form>