@using EMS.Data.Entities.Leaves;
@using EMS.Data.FormModels.EmpLeave;
@model LeaveTypeVM
@{
    ViewData["Title"] = "Edit LeaveType";
}

<h1>Edit LeaveType</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLeaveType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreated" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <select asp-for="Name" class="form-control" id="leaveTypeName">
                    <option disabled>Select LeaveType</option>
                    @foreach (string leaveType in Enum.GetNames(typeof(LeaveTypesEnum)))
                    {
                        <option value="@leaveType">@leaveType</option>
                    }
                </select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultDays" class="control-label"></label>
                <input asp-for="DefaultDays" class="form-control" />
                <span asp-validation-for="DefaultDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="LeaveTypeList">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
